<!DOCTYPE HTML>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nav th:fragment="header" class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" th:href="@{/}">Conversion Chain Calculator</a>
            <form class="d-flex" method="POST" th:action="@{/logout}">
                <button class="btn btn-outline-light" type="submit">Выход</button>
            </form>
        </div>
    </nav>
</div>
<script src="webjars/jquery/3.6.1/jquery.min.js"></script>
<script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>