<!DOCTYPE HTML>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Детали цепочки</title>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="components/header::header">Заголовок</div>
    <form th:object="${data}" method="POST"
          th:action="@{'/conversion-details/' + ${data.chain.conversionId} + '/chain-details/' + ${data.chain.id}}"
          class="p-3">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Список конверсий</a></li>
                    <li class="breadcrumb-item">
                        <a th:href="@{'/conversion-details/' + ${data.chain.conversionId}}">Детали конверсии</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span th:text="${data.chain.name}">Детали цепочки</span>
                        <span class="badge bg-success" th:text="${data.chain.status}">COMPLETED</span>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="row pt-3">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <span th:text="${#numbers.formatDecimal(data.conversion.amount, 0, 'WHITESPACE', 8, 'POINT')}">30 000</span>
                            <span th:text="${data.conversion.currencyFrom}">RUB</span>
                            в
                            <span th:text="${data.conversion.currencyTo}">RUB</span>
                        </div>
                        Актуальный курс
                        <span th:text="${#numbers.formatDecimal(data.conversion.rate, 0, 'WHITESPACE', 8, 'POINT')}">30 000</span>
                        <span th:text="${data.conversion.currencyFrom}">RUB</span>
                        за 1
                        <span th:text="${data.conversion.currencyTo}">RUB</span>
                    </div>
                </li>
                <th:block th:each="link, iterator : ${data.links}">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span>В</span>
                                <span th:text="${link.currency}">BTC</span>
                            </div>
                            <span>По курсу</span>
                            <span th:text="${#numbers.formatDecimal(link.rate, 0, 'WHITESPACE', 8, 'POINT')}">3564000</span>
                            <span>за единицу</span>
                        </div>
                        <span class="badge bg-danger rounded-pill"
                              th:if="${link.percentageFee != null || link.fixedFee != null}">
                            <span th:text="'-' + ${link.percentageFee} + '%'" th:if="${link.percentageFee != null}">-14.3%</span>
                            <span th:text="'-' + ${link.fixedFee}" th:if="${link.fixedFee != null}">-0.0004</span>
                        </span>
                        <button type="submit" name="action" value="delete" class="btn btn-outline-dark ms-3" th:if="${data.chain.status.name() != 'COMPLETED' && iterator.index == iterator.size - 1}">Удалить</button>
                    </li>
                </th:block>
                <li class="list-group-item d-flex justify-content-between align-items-start"
                    th:if="${data.chain.status.name() == 'COMPLETED'}">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <span>Потеряно</span>
                            <span th:text="${#numbers.formatDecimal(data.chain.lossRate, 0, 'WHITESPACE', 2, 'POINT')} + '%'">13.5%</span>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="pt-3">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addLink" th:if="${data.chain.status.name() != 'COMPLETED'}">
                Добавить звено
            </button>
            <button type="submit" name="action" value="complete" class="btn btn-outline-dark" th:if="${data.chain.status.name() != 'COMPLETED'}">
                Завершить цепочку
            </button>
        </div>
        <div class="alert alert-warning alert-dismissible fade mt-3" role="alert" th:classappend="${data.error != null} ? 'show' : ''">
            <span th:text="${data.error}">Предупреждение!</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </form>
    <div class="modal fade" id="addLink" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:object="${data}" method="POST"
                      th:action="@{'/conversion-details/' + ${data.chain.conversionId} + '/chain-details/' + ${data.chain.id}}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новое звено конвертации</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div>
                                <label for="currency" class="form-label">Целевая валюта</label>
                                <input type="text" class="form-control" id="currency" th:field="*{currency}">
                            </div>
                            <div>
                                <label for="rate" class="form-label">Курс обмена</label>
                                <input type="text" class="form-control" id="rate" th:field="*{rate}">
                            </div>
                            <div>
                                <label for="percentageFee" class="form-label">Процент комиссии</label>
                                <input type="text" class="form-control" id="percentageFee" th:field="*{percentageFee}">
                            </div>
                            <div>
                                <label for="fixedFee" class="form-label">Фиксированная комиссия</label>
                                <input type="text" class="form-control" id="fixedFee" th:field="*{fixedFee}">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" name="action" value="add-link" class="btn btn-dark">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>