<!DOCTYPE HTML>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список конвертаций</title>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="components/header::header">Заголовок</div>
    <form th:object="${data}" method="POST" th:action="@{/}">
        <div class="mt-2 form-control-sm">
            <button type="button" name="action" value="create" data-bs-toggle="modal" data-bs-target="#createConversionModal" class="btn btn-outline-dark">Добавить</button>
            <button type="submit" name="action" value="delete" class="btn btn-outline-dark">Удалить</button>
        </div>
        <div class="mb-0">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Валюта</th>
                    <th scope="col">Целевая валюта</th>
                    <th scope="col">Актуальный курс</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="conversion : ${data.conversions.content}">
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:value="${conversion.id}" th:field="*{selectedConversions}">
                            </div>
                        </td>
                        <td>
                            <a th:href="@{'/conversion-details/' + ${conversion.id}}" th:text="${#temporals.format(conversion.createdAt, 'yyyy-MM-dd HH:mm')}">
                                2022-04-05 15:13:56
                            </a>
                        </td>
                        <td th:text="${#numbers.formatDecimal(conversion.amount, 0, 'WHITESPACE', 8, 'POINT')}">30000
                        </td>
                        <td th:text="${conversion.currencyFrom}">RUB</td>
                        <td th:text="${conversion.currencyTo}">BTC</td>
                        <td th:text="${#numbers.formatDecimal(conversion.rate, 0, 'WHITESPACE', 8, 'POINT')}">3245600
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="createConversionModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новая конверсия</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row g-2">
                        <div class="col-md-6">
                            <label for="amount" class="form-label">Сумма</label>
                            <input type="text" class="form-control" id="amount" th:field="*{amount}"/>
                        </div>
                        <div class="col-md-6">
                            <label for="currencyFrom" class="form-label">Исходная валюта</label>
                            <input type="text" class="form-control" id="currencyFrom" th:field="*{currencyFrom}">
                        </div>
                        <div class="col-md-6">
                            <label for="rate" class="form-label">Актуальный курс</label>
                            <input type="text" class="form-control" id="rate" th:field="*{rate}">
                        </div>
                        <div class="col-md-6">
                            <label for="currencyTo" class="form-label">Целевая валюта</label>
                            <input type="text" class="form-control" id="currencyTo" th:field="*{currencyTo}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" name="action" value="create" class="btn btn-dark">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>