<!DOCTYPE HTML>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Детали конверсии</title>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="components/header::header">Заголовок</div>
    <form th:object="${data}" method="POST" th:action="@{'/conversion-details/' + ${data.details.id}}" class="p-3">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Список конверсий</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Детали конверсии</li>
                </ol>
            </nav>
        </div>
        <fieldset class="row g-2" disabled>
            <div class="col-md-6">
                <label for="amount" class="form-label">Сумма</label>
                <input type="text" class="form-control" id="amount" value="30000"
                       th:value="${#numbers.formatDecimal(data.details.amount, 0, 'WHITESPACE', 8, 'POINT')}"/>
            </div>
            <div class="col-md-6">
                <label for="currencyFrom" class="form-label">Исходная валюта</label>
                <input type="text" class="form-control" id="currencyFrom" value="RUB"
                       th:value="${data.details.currencyFrom}">
            </div>
            <div class="col-md-6">
                <label for="rate" class="form-label">Актуальный курс</label>
                <input type="text" class="form-control" id="rate" value="3258000"
                       th:value="${#numbers.formatDecimal(data.details.rate, 0, 'WHITESPACE', 8, 'POINT')}">
            </div>
            <div class="col-md-6">
                <label for="currencyTo" class="form-label">Целевая валюта</label>
                <input type="text" class="form-control" id="currencyTo" value="BTC"
                       th:value="${data.details.currencyTo}">
            </div>
            <div class="col-md-6">
                <label for="createdAt" class="form-label">Дата создания</label>
                <input type="text" class="form-control" id="createdAt" value="2022-04-17 12:34"
                       th:value="${#temporals.format(data.details.createdAt, 'yyyy-MM-dd HH:mm')}">
            </div>
        </fieldset>
        <div class="form-control-sm mt-3">
            <button type="button" name="action" value="create" data-bs-toggle="modal" data-bs-target="#createChainModal" class="btn btn-outline-dark">Добавить</button>
            <button type="submit" name="action" value="delete" class="btn btn-outline-dark">Удалить</button>
        </div>
        <div class="mb-0">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название цепочки</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Процент потерь</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="chain : ${data.details.chains}">
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:value="${chain.id}" th:field="*{selectedChains}">
                            </div>
                        </td>
                        <td>
                            <a th:text="${chain.name}" th:href="@{'/conversion-details/' + ${data.details.id} + '/chain-details/' + ${chain.id}}">
                                Best Change
                            </a>
                        </td>
                        <td th:text="${chain.status}">COMPLETED</td>
                        <td th:text="${#numbers.formatDecimal(chain.lossRate, 0, 'WHITESPACE', 2, 'POINT')}">15.30</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="createChainModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новая цепочка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="chainName" class="form-label">Название</label>
                            <input type="text" class="form-control" id="chainName" th:field="*{name}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" name="action" value="create" class="btn btn-dark">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>